#h22{
  background-color:gray;
  }
  #h33{
  color:white;
  font-family:tohoma;
  }
  #h33{
  color:white;
  font-family:tohoma;
  }
  #h44{
  color:blue;
  font-family:tohoma;
  }
  
  a:link{
  font-size:13pt;
  }
  
  a:visited{
  color:orange;
  }
  a:hover{
  color:green;
  }
  a:active{
  color:blue;
  }
  #h55{
  color:blue;
  font-family:tohoma;
  }
  #h66{
  color:blue;
  font-family:tohoma;
  }
  #h77{
  color:blue;
  font-family:tohoma;
  }
  #l{
  width:100%;
  length:100;
  background-color:pink;
  }